<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Management System</title>
    
    <!-- Link para o Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        body.dark-mode {
            background-color: #1a1a1a;
            color: #ffffff;
            transition: background-color 0.5s, color 0.5s;
        }

        h1, h2 {
            color: #007bff;
        }

        button {
            background-color: #007bff;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }

        /* Espaçamento maior entre os inputs */
        form label {
            margin-bottom: 10px;
            display: block;
        }

        form input {
            margin-bottom: 15px;
        }

        /* Interruptor de Modo Escuro/Claro */
        #dark-mode-switch {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1000;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1>User Form</h1>
                <form action="/user" method="post">
                    <label for="userName">User Name:</label>
                    <input type="text" id="userName" name="userName" class="form-control" required>

                    <label for="descriptionPassword">Description Password:</label>
                    <input type="text" id="descriptionPassword" name="descriptionPassword" class="form-control" required>

                    <label for="attDate">Att Date:</label>
                    <input type="datetime-local" id="attDate" name="attDate" class="form-control" required>

                    <label for="attDateNrec">Att Date Nrec:</label>
                    <input type="datetime-local" id="attDateNrec" name="attDateNrec" class="form-control" required>

                    <label for="ieFunc">IE Func:</label>
                    <input type="text" id="ieFunc" name="ieFunc" class="form-control" required>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <br>

    <!-- Client Form -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h2>Client Form</h2>
                <form action="/client" method="post">
                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description" class="form-control" required>

                    <label for="cnpjNumber">CNPJ Number:</label>
                    <input type="text" id="cnpjNumber" name="cnpjNumber" class="form-control" required>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <br>

    <!-- Natural Person Form -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h2>Natural Person Form</h2>
                <form action="/naturalPerson" method="post">
                    <label for="userNameNaturalPerson">User Name (Natural Person):</label>
                    <input type="text" id="userNameNaturalPerson" name="userNameNaturalPerson" class="form-control" required>

                    <label for="descriptionNaturalPerson">Description (Natural Person):</label>
                    <input type="text" id="descriptionNaturalPerson" name="descriptionNaturalPerson" class="form-control" required>

                    <label for="attDate">Att Date:</label>
                    <input type="datetime-local" id="attDate" name="attDate" class="form-control" required>

                    <label for="attDateNrec">Att Date Nrec:</label>
                    <input type="datetime-local" id="attDateNrec" name="attDateNrec" class="form-control" required>

                    <label for="userName">User Name:</label>
                    <input type="text" id="userName" name="userName" class="form-control" required>

                    <label for="userNameNrec">User Name Nrec:</label>
                    <input type="text" id="userNameNrec" name="userNameNrec" class="form-control" required>

                    <label for="emailDescription">Email Description:</label>
                    <input type="text" id="emailDescription" name="emailDescription" class="form-control" required>

                    <label for="dateNasc">Date of Birth:</label>
                    <input type="datetime-local" id="dateNasc" name="dateNasc" class="form-control" required>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <br>

    <!-- Service Order Form -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h2>Service Order Form</h2>
                <form action="/serviceOrder" method="post">
                    <label for="classification">Classification:</label>
                    <input type="text" id="classification" name="classification" class="form-control" required>

                    <label for="updatedBy">Updated By:</label>
                    <input type="text" id="updatedBy" name="updatedBy" class="form-control" required>

                    <label for="createdBy">Created By:</label>
                    <input type="text" id="createdBy" name="createdBy" class="form-control" required>

                    <label for="updateDate">Update Date:</label>
                    <input type="datetime-local" id="updateDate" name="updateDate" class="form-control" required>

                    <label for="creationDate">Creation Date:</label>
                    <input type="datetime-local" id="creationDate" name="creationDate" class="form-control" required>

                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description" class="form-control" required>

                    <label for="customerSequence">Customer Sequence:</label>
                    <input type="text" id="customerSequence" name="customerSequence" class="form-control" required>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <br>

    <!-- Interruptor de Modo Escuro/Claro -->
    <button id="dark-mode-switch" class="btn btn-secondary">Modo Escuro</button>

    <!-- Link para o Bootstrap JS e jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Código JavaScript para alternar entre os modos claro e escuro
        const darkModeSwitch = document.getElementById('dark-mode-switch');
        const body = document.body;

        darkModeSwitch.addEventListener('click', () => {
            body.classList.toggle('dark-mode');
        });
    </script>
</body>
</html>
