.app {
  display: flex;
  min-height: 100vh;
  background-color: #808080; /* Gray background */
  color: #fff; /* White text color */
}

.content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
